
/* ---------- ESTILOS GENERALES ---------- */

    body {
      background-color: transparent;
      color: white;
      font-family: HelveticaNowText, Helvetica, Arial, sans-serif;
    }
    .navbar {
      background-color: #1a1a1a2d;
    }
    .menu-icon {
      font-size: 1.5rem;
      cursor: pointer;
    }

    .carousel-inner{
      margin-top: 25px;
      box-shadow: 5px 5px 10px rgba(0, 255, 255, 0.952);
    }

    .carousel-inner img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .card {
      background-color: #1a1a1a;
      border: none;
      color: white;
      transition: transform 0.3s;
    }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px #0ff;
    }
    .card img {
      height: 200px;
      object-fit: cover;
      cursor: pointer;
    }


     .producto {
      transition: all 0.3s ease-in-out;
    }
    .producto:hover {
      transform: scale(1.03);
    }